.description-about {
    margin: 1em 0;
    max-width: 1000px;
    justify-self: center;
    text-align: center;
}

.description-about h1 {
    text-align: center;
    font-size: 1.3em;
}

.description-about p {
    font-size: 0.9em;
}